.intro-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}